.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .mat-button {
    margin-left: 16px;
    margin-right: 16px;
  }
  
  button {
    margin-left: 8px;
  }
  
 .spacer {
    flex: 1 1 auto;
  }
  
  @media (max-width: 600px) {
    .sidenav-container {
      position: absolute;
      width: 100%;
     
    }
  } 
